<header id="header">
  <p><a style="border: 0;text-decoration: none" href="/"><img src="/images/logo_transparent_flipped.png" width="260" height="175"/></a></p>
  <h1>{{ .Site.Params.header.title }}<br>{{ .Site.Params.header.title2 }}</h1>
  <br>
  {{ with .Site.Params.header.description }}<p>{{ . | markdownify }}</p>{{ end }}

  {{ if .Site.Params.social }}
    <ul class="icons">
      {{ range .Site.Params.social }}
        <li><a href="{{ .url }}" class="icon {{ .icon }}"><span class="label">{{ .label }}</span></a></li>
      {{ end }}
    </ul>
  {{ end }}
</header>